body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 {
    font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #008B45;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Arvo";
   font-weight: normal;
   font-size: 30px;
   text-align: center;
   color: #008B45;
   /*color: #008B45;*/
   /*color: #6E7B8B;*/
   /*color: #008B00;*/
   margin: 0;
   padding: 0;
}

h3 {
   font-family: Oswald;
   color: #fff;
   font-weight: normal;
   font-size: 20px;
   text-align: center;
   /*margin: 5px 0;*/
   margin-top: 0px;
   padding: 0;
   z-index: 1;
	/*position: relative;*/
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }


#header {
	width: 100%;
	background-color: black;
	height: 80px;
	position: fixed;
	opacity: 0.7;
	z-index: 1000;
}

#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }

#focilites {
	width: 410px; 
	margin: auto;
}

#focilites ul {
	list-style: none;
    padding:0;
}

#focilites li { 
    padding-left: 2em; 
    text-indent: -.7em;
}

#focilites li:before {
    content: "•  ";
    color: #fff;
    /*color: rgb(85, 85, 85);  or whatever color you prefer */
}

#focilites a{
	width: 410px;
	/*color: rgb(85, 85, 85); */
	color: #fff;
	font-size: 18px;
	font-family:"Arvo"; 
}

#info_h {
   font-family:"Arvo"; 
   /*color: rgb(85, 85, 85);*/
   color: #fff;
   font-weight: normal;
   font-size: 20px;
   text-align: center;
   margin-top: 0px;
   /*margin: 5px 0;*/
	padding: 0;
	z-index: 1;
	width: 410px;
	/*position: relative;*/
}

#nav { 
	width: 410px; 
	float: right; 
	margin-top: 20px; 
}

#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}

#nav li{
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
/*#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }*/
#nav li a:hover { color: #fff; opacity:1;  }




#main, #detail{ width: 100%; }
#main{
	background:url('/images/image1.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	/*height: 600px;*/
	margin: 0;
	/*padding: 200px 0 260px 0;*/
	background-size: cover;
}

#detail{
	background-color: rgba(145, 145, 145, 1);
	color: #333333;
	/*height: 300px;*/
	margin: 0 auto;
	overflow: hidden;
	/*padding: 200px 0;*/
}

#detail_h {
   font-family: Oswald;
   color: #fff;
   font-weight: normal;
   font-size: 20px;
   text-align: center;
   margin: auto;
   width: 600px;
   padding: 0;
   z-index: 1;
	/*position: relative;*/
}

#info{
	background: url('/images/image3.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	/*height: 600px;*/
	/*padding: 170px 0 0 0;*/
	background-size: cover;
}

#float_contact_us_div, 
#behind_map_div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#float_contact_us_div {
	top: 80%;
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	background-color: black;
}

#contact_us{
	background-color: rgb(98, 98, 98);
	color: #333333;
	position: relative;
	/*height: 300px;*/
	/*padding: 170px 0;*/
}

#map_canvas {
	width: 80%;
	height: 100%;
	background-color: #CCC;
}

#info_div {
	width: 900px;
	margin: auto;
}

#info_left {
	margin-right: 490px;
}

#info_right {
	float: right;
	width:  490px;
	height: 338px;
	margin-left: 40px;
	position: relative;
}


#float_div, 
#behind_div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#float_div {
	position: relative;
}

#right_arrow_div {
	width: 60px;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    left: 430px;
}

#right_arrow_div:hover {
	opacity: 0.5;
}

#left_arrow_div:hover {
	opacity: 0.5;
}


#left_arrow_div {
	width: 60px;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    left: 40px;
}

#float_div {
    z-index: 10;
}

.arrow_div {
	width: 30px;
	height: 30px;
	margin: auto;
	margin-top: 154px;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
	/*float: left;*/

}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:20px solid white; 
	/*float: left;*/
}


/*slider*/

.image_slide {
	width: 450px;
	height: 338px;
}

#wrapper{
	margin-left: 40px;
    width:450px; 
    height:338px; 
    position:relative; 
    overflow:hidden;
}
#slider {
    width: 1800px;
    height: 100%;
    position: absolute;
}
#slider div {
    width:450px; 
    height:100%; 
    float:left; 
}
#today{background:green;}
#yesterday {background:yellow;}
#daysAgo2 {background:orange;}




